/**{
    box-sizing: border-box;

}

body{
    background-color: gray;
}

/*
header{
    display: inline-block;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    margin: 0%;
    padding: 0px;
    height: 7%;
    width: 100%;
    top: 0%;
    left: 0%;
    
}




.lmcs-div{
display: block;
position: fixed;
box-sizing: border-box;
width: 180px;
height: 295px;
right: 0px;
margin-right: 12%;
top: 0px;
text-align: center;
background: #4A1863;
}

#LMCS{
    
    width: 130px;
    height: 65px;
    text-align: end;
    background-color: chartreuse;
    top: 60px;
    display: block;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    
    color: #FFFFFF;

}

#extendsLMCS{
  
width: 142px;
height: 100px;

top: 150px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
text-align: center;

color: #FFFFFF;
}

*/